/Morrowind.json
/nimtes.exe
/tes3conv.exe
/tests
/windows-latest
nimtes
nimble.develop
nimble.paths
nimbledeps
/Morrowind
/files
.gitignore
conflicts.txt
.DS_Store
nifxml.xml
MorrowindEnums.txt
MorrowindNifObjects.txt
MorrowindNifTree.txt
MorrowindObjects.txt
MorrowindStructs.txt
NifTree.txt
NifTypes.txt
